<!doctype html>
<html lang="en">
  <head>
    {% include meta.html %}
    <!-- build:css /assets/styles/vendor.css -->
    <!-- endbuild -->
    <!-- build:css /assets/styles/main.css -->
    <link href="/assets/styles/main.css" rel="stylesheet" />
    <!-- endbuild -->
    <link type="text/plain" href="humans.txt" rel="author" />
  </head>
  <body>
    <!-- Page -->
    <div id="site-canvas">
      {{content}}
    </div>
    <!--/ Page -->

    <!-- Google Analytics -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    <!--/ Google Analytics -->

    <!-- build:js /assets/scripts/vendor.js -->
    <script src="/assets/scripts/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:js /assets/scripts/bundle.js -->
    <script src="/assets/scripts/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>